<!DOCTYPE html>
<html>
  <head>
    <title>RailsSimpleAirbnb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="navbar-lewagon">
      <p>Simple Airbnb</p>
      <div class="btn btn-primary">
        <%= link_to "Add flat", new_flat_path %>
       </div>
    </div>

    <%= yield %>
  </body>
</html>
